.precioProducto {
  padding-top: 10px;

  font-weight: bold;
}
.productoCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(6, 150px 110px 50px 50px 50px 50px);
  grid-template-rows: repeat(auto-fill, 50px);
}
.productoCarrito:hover {
  border-left: 5px solid rgb(100, 64, 201);
}

.boton-eliminar {
  background-color: white;
  color: rgb(100, 64, 201);
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

h4 {
  display: none;
  justify-content: space-around;
}

header {
  background-image: url(../img/bg-buy-games2.gif);
  background-size: cover;
}

footer {
  background-image: url(../img/bg-buy-games.gif);
  background-size: cover;
}
